<%- include('header') %>

<section class="container" id="information">
	<div class="box-container primary row">
		<div class="one-full column">
			<h1> Credits:</h1>
		</div>
		<div class="one-full column">
			<p>Below are the people, and resources that helped to create this bot. this bot is coded with the discord.js
				library and with run with node.js, i aim for 24/7 uptime, but it is not guaranteed, if the bot is offline
				please tag me, or you can dm me!</p>
		</div>
	</div>
</section>

<section class="container card-container">

	<div class="card">
		<div class="avatar">
			<img src="/assets/images/grav.jpg">
		</div>
		<h1 class="title">GravityGuy_464_</h1>
		<p class="description">Helped to create my first bot, helped me to understand using embeds when I did not know how to
			do it.</p>
	</div>

	<div class="card">
		<div class="avatar">
			<img src="assets/images/froosty.jpg" style="filter: none;" />
		</div>
		<h1 class="title">Froosty</h1>
		<p class="description">Helped setup this very website you're on right now, and helped solve many problems I
			encountered with bot making.</p>
	</div>


	<div class="card">
		<div class="avatar">
			<img src="assets/images/kashall.gif" style="filter: none;" />
		</div>
		<h1 class="title">JORDAN "KASHALL" J</h1>
		<p class="description">Helped on an problem on the site which I couldn't fix for a few months, Also helped with some
			JS questions, and
			made other bots, be sure to check out
			<a href="https://sistine.ml/">his bot here.</a>
		</p>
	</div>


	<div class="card">
		<div class="avatar">
			<img src="assets/images/k9wolf.jpg" style="filter: none;" />
		</div>
		<h1 class="title">K9 Wolf</h1>
		<p class="description">Helping to improve my coding style, stopping me from using unnecessary code, and other non
			productive ways of
			coding. Helped with JS;</p>
	</div>

	<div class="card">
		<div class="avatar">
			<img src="assets/images/thecraptheorist.jpg" style="filter: none;" />
		</div>
		<h1 class="title">thecraptheorist</h1>
		<p class="description">Very good at JS. Can quickly think of solutions. Uses simple yet smart code. Neatens code, and
			doesn't spoonfeed</p>
	</div>

	<div class="card">
		<div class="avatar">
			<img src="assets/images/u7o5.jpg" style="filter: none;" />
		</div>
		<h1 class="title">🤘U7O5🤘</h1>
		<p class="description">We solved problems together, and taught each other new things as we discover them.</p>
	</div>

	<div class="card">
		<div class="avatar">
			<img src="assets/images/dryjoking.jpg" style="filter: none;" />
		</div>
		<h1 class="title">Dryjoking</h1>
		<p class="description">Knows some JS, and also his bot was the first bot I've ever used on discord.</p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/griffin.jpg" style="filter: none;" />
		</div>
		<h1 class="title">Griffin</h1>
		<p class="description">Support with SQLITE when I used it, and also is good at explaining things at beginner levels.</p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/cactus.jpg" style="filter: none;" />
		</div>
		<h1 class="title">Cactus 🌵</h1>
		<p class="description">Found a lot of bugs, and spelling mistakes that I have not noticed. Found and reported the
			most bugs. Likes hunting me in diep with predator.</p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/hrx.jpg" style="filter: none;" />
		</div>
		<h1 class="title">HrX</h1>
		<p class="description">"Imma good boi and you helped me lots of times so ok? kek".</p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/ivyheart.jpg" style="filter: none;" />
		</div>
		<h1 class="title">Ivyheart</h1>
		<p class="description">Participated in votes and provided suggestions to improve the bot</p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/lucas.jpg" style="filter: none;" />
		</div>
		<h1 class="title">LucasLSG</h1>
		<p class="description">Spottted some typoes on this website and tolde me to fix the mistakes, whichs some of them are fixed and some are not as you can ssee. Co developer of chips, <a href="https://chipsbot.me/"> see bot here </a></p>
	</div>
	<div class="card">
		<div class="avatar">
			<img src="assets/images/william.gif" style="filter: none;" />
		</div>
		<h1 class="title">William Zhou</h1>
		<p class="description">Also found typos in the bot, developer of Chips, check out <a href="https://chipsbot.me/"> their bot here </a></p>
	</div>
</section>

<%- include('footer') %>