<br>
<footer class="center box-container secondary">
    <p class="no-margin"> ExcigmaBot | Excigma is not affiliated with discord in any way whatsoever |
        <a href="https://github.com/AlexFlipnote/ModestaCss" target="_blank" rel="noreferrer">CSS framework</a>
    </p>
</footer>
</body>
</html>