<%- include('header') %>


<section class="container" id="information">

	<div class="box-container primary row">
		<div class="one-full column">
			<h1> 404. Nothing to see here.</h1>
		</div>
		<div class="one-full column">
			<h6>
				Oh no, Error 404. Uh, do you want to go
				<br>
				<a href="/" class="btn emerald animation hover">
					Home</a> ?
			</h6>
		</div>
	</div>
</section>


<%- include('footer') %>